<!-- <app-home></app-home> -->
<router-outlet></router-outlet>
<!-- <div class="footer">
<footer class="mt-5 mb-4 text-center">
    <p><span>Copyright © 2024 All_fevorite_website.</span> All Rights Reserved</p>
    <p>Photo by <a
            href="https://unsplash.com/@windows?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Windows</a>
        on <a
            href="https://unsplash.com/@windows?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </p>
</footer>
</div> -->