header {
    background-image: url('../../../assets/headerimg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
    margin: 0% 0%;
    width: 100%;
    border-radius: 5px;
    animation-name: pic;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes pic {
0%{background-image: url('../../../assets/headerimg3.jpg');}  
25%{background-image: url('../../../assets/headerimg1.jpg');}

50%{background-image: url('../../../assets/headerimg.jpg');}

75%{background-image: url('../../../assets/headerimg1.jpg');}
100%{background-image: url('../../../assets/headerimg3.jpg');}
}

header h1 {
    font-size: 50px;
    text-align: center;
    padding: 32% 0%;
    color: #ffffff;
    font-weight: bold;
}
header h1 span{
    color:red;
}
header h1 button{
    font-size: 20px;  
float:right;
margin-top:250px;
background-color:rgb(246, 8, 8);
width:100px;
height:40px;
border-radius: 5px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
header h1 button:hover{
    background-color: green;
}



.row {
    margin: 30px 50px;
}

a {
    text-decoration: none;
    color: #053867;
}

.box {
    border: 1px solid #053867;
    border-radius: 5px;
    padding: 20px;
}

.box:hover {
    color: #ffffff;
    background-color: #053867;
    transition: 0.3s;
    cursor: pointer;
}


/* responsive */
@media screen and (max-width:600px) {

    header h1 {
        font-size: 35px;
        padding: 105% 0%;
    }

}